html {
  /* Setting a base font size of 10px give us easier rem calculations
     Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
   */
  font-size: 10px;
}

body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

h1, h2 {
  color: black;
  margin: 30px;
  font-size: 1.8em;
  font-weight: thin;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

article {
  padding-left: 30px;
}

header {
	margin-top: 10rem;
}

section {
	padding-left: 10px;
}

/*id*/
#nav-bar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
}

#nav-bar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#nav-bar li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#nav-bar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

#main-doc header {
  text-align: left;
  margin: 0px;
}

#black-back {
	color: #FFF;
	background-color: #000;
	text-align: center;
	margin: 0;
}

#selfie_app {
	border-bottom: 4px solid red;
}

/*classes*/

h3 span {
	color: red;
}

.links {
	text-decoration: none;
}

.sub-text {
	color: red;
}

/*Medias*/
@media only screen and (max-width: 600px) {
#nav-bar {
	position: relative;
	margin: 0;
	top: 0;
	width: 100%;
	background-color: #000;
}

#nav-bar ul {
  	list-style-type: disc;
  	color: red;
}

#nav-bar li {
  	display: flex;
}

#nav-bar a {
	 color: #fff;
	 text-decoration: none;
	 border-left: 4px solid red;
	 padding-left: 1rem;
	 margin-top: 1rem;
}

#main-doc {
    position: absolute;
    margin: 0;
    padding: 20px;
    margin-bottom: 110px;
}

}